/* ==========================================================================
   Components
   ========================================================================== */
body {
    background: url('/src/img/background-body.png');
}

.inner {
    display: flex;

    width: $size_inner;

    font-size: $font-size-normal;

    flex-wrap: wrap;
}

.nav {
    background: red;
    &__list {
        display: block;

        margin: 40px;

        color: white;
        background: black;
        &__item {
            float: left;
            &--active {
                a {
                    color: green;
                }
            }
        }
    }
}
.inner-header {
    z-index: 99999;

    display: flex;
    flex-direction: row;

    width: $size_inner;
    margin: 0 auto;

    font-size: $font-size-normal;

    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
            border-top-left-radius: 20px;
    background: white;

    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
    align-items: flex-start;
}

.logo {
    display: inline-block;

    width: 330px;
    height: 130px;
    margin: 0;
    padding-top: 37px;
    padding-right: 30px;
    padding-left: 32px;

    font-size: 30px;
    line-height: 25px;

    color: $color_pink;
}
.logo span {
    font-size: $font-size-normal;
}
.header-other {
    display: flex;
    flex-direction: column;

    width: 670px;
    height: 130px;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-beetwen;
    align-items: center;
}
.main-menu {
    display: flex;
    flex-direction: row;

    width: 670px;
    height: 44px;
    margin-top: 4px;
    margin-left: 10px;
    padding: 0;

    font-size: $font-size-second;
    font-weight: bold;

    list-style-type: none;

    content: flex-end;

    align-items: flex-end;
    justify-content: flex-end;
    align-content: space-beetwen;
    &__item {
        border-left: 1px solid #dedede;
        background: linear-gradient(180deg, #fff 0%, #fbeaef 100%);
        &--first {
            border-left: 1px solid #dedede;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        &--first a {
            display: block;

            padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            padding-left: 15px;

            text-decoration: none;

            color: $color_pink;
        }
    }
    &__item a {
        display: block;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;

        text-decoration: none;

        color: $color_pink;
    }
    &__item:hover {
        background: linear-gradient(90deg, rgb(255, 244, 253) 90%, rgb(255, 221, 238) 100%);
    }
    &__item:nth-child(2) {
        padding-right: 15px;
    }
    &__item:nth-child(3) {
        padding-right: 15px;
    }
    &__item:nth-child(4) {
        padding-right: 17px;
    }
    &__item:nth-child(5) {
        padding-right: 17px;
    }
    &__item:nth-child(6) {
        width: 120px;
        padding-right: 0;
    }
}
.main-menu img {
    padding-right: 10px;
}
.sub-menu {
    position: absolute;
    z-index: 2;

    visibility: hidden;

    margin-top: 11px;
    margin-left:-17px;
    padding: 0;

    list-style-type: none;
    &__item {
        display: block;

        padding: 10px 40px 10px 40px;

        border-bottom: 1px solid #dedede;
        background: linear-gradient(180deg, #fff 0%, #fbeaef 100%);
    }
}

.tools-menu {
    display: flex;
    flex-direction: row;

    width: 670px;
    margin-top: 0;
    padding: 0;

    font-size: 10px;

    list-style-type: none;

    content: flex-end;

    align-items: flex-end;
    justify-content: flex-end;
    align-content: space-beetwen;
    &__item {
        position: relative;

        list-style-type: none;

        text-align: right;
        &--language {
            width: 210px;
        }
        &--language p {
            padding-right: 18px;
        }
        &--language img {
            position: absolute;
            top: -7px;
            left: 30px;
        }
        &--profile {
            width: 210px;
        }
        &--profile p {
            padding-right: 12px;
        }
        &--profile img {
            position: absolute;
            top: -7px;
            left: 8px;
        }
        &--join-us {
            width: 210px;
            padding-top: 7px;
        }
        &--join-us p {
            padding-right: 30px;
        }
        &--join-us img {
            position: absolute;
            top: 0;
            left: -2px;
        }
    }
    &__item p {
        font-size: $font-size-nav;
    }
    &__item p span {
        font-size: $font-size-nav;

        color: $color_pink;
    }
}
.language__list {
    list-style-type: none;
}
.main-content {
    background: url('/src/img/main-background.png') no-repeat;
    background: #fff;
}
.main-content .inner {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
}

.main-content::before {
    position: absolute;
    top: 142px;
    right: 0;
    left: 0;

    display: block;

    width: 1000px;
    height: 500px;
    margin: auto;

    content: '';

    background: url('/src/img/main-background.png') no-repeat;
}
.main-content::after {
    position: absolute;
    top: 290px;
    right: 0;
    left: 0;

    display: block;

    width: 1000px;
    height: 365px;
    margin: auto;

    content: '';

    background: url('/src/img/main-background-before.png') no-repeat;
}
.girl-box {
    position: relative;

    width: 113px;
    height: 185px;
    margin-top: 10px;

    border: 1px solid #dedede;
    background: white;
    &__image {
        position: relative;
        top: 10px;
        right: 0;
        left: 0;

        width: 93px;
        height: 120px;
        margin: auto;
    }
    &__image img {
        width: 100%;
        height: 100%;
    }
    &__tittle {
        margin: 0;
        padding-top: 23px;
        padding-left: 18px;

        font-size: 12px;

        color: $color_pink;
    }
    &__description {
        margin: 0;
        padding-left: 20px;

        font-size: $font-size-nav;

        color: #9d8089;
    }
    &--slider-top {
        width: 138px;
        height: 245px;

        background: white;
        &__image {
            position: relative;
            top: 10px;
            right: 0;
            left: 0;

            width: 118px;
            height: 172px;
            margin: auto;
        }
        &__image img {
            width: 100%;
            height: 100%;
        }
    }
    &--last-comment {
        width: 109px;
        height: 185px;

        border-right: 1px solid #dedede;
        &__description {
            position: relative;

            width: 127px;
            padding-top: 20px;
            padding-right: 35px;
            padding-left: 20px;

            color: $color_brown;
        }
        &__description p {
            margin-top: 0;
        }
        &__description img {
            padding-top: 5px;
        }
        &__description::before {
            position: absolute;
            top: -6px;

            display: block;

            width: 17px;
            height: 15px;

            content: '';

            background: url('../img/comment-box-quote.png');
        }
    }
}
.girl-box:hover {
    background: linear-gradient(180deg, #fff 0%, #fbeaef 100%);
}

.section-tittle {
    padding-top: 13px;
    padding-left: 58px;

    font-family: $font_second;
    font-size: $font-main-tittle-size;
    font-weight: 300;

    text-align: left;

    color: white;

    flex-basis: 100%;
}
.section-tittle span {
    font-weight: 500;
}
.aside-menu {
    padding: 0 10px 0 10px;

    list-style-type: none;
    &__item {
        &--header {
            position: relative;

            display: block;

            width: 160px;
            height: 38px;

            text-align: center;

            color: white;
            background: linear-gradient(0deg, rgb(221, 55, 85) 0%, rgb(244, 98, 123) 100%);
            &__tittle {
                position: absolute;
                top: 0;
                bottom: 0;

                display: block;

                margin-top: 8px;
                padding-left: 20px;

                font-size: 16px;
            }
        }
        &--header img {
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;

            margin: auto;
        }
    }
}
.aside {
    position: relative;

    display: flex;
    flex-direction: row;

    padding-bottom: 40px;

    flex-wrap: wrap;
}
.aside-nav {
    margin: 0 auto;
    &__rank {
        position: absolute;
        bottom: 76px;
        left: 40px;

        width: 160px;
        padding: 0 0 12px 0;

        list-style-type: none;

        background: #fff1f5;
        &__header {
            height: 38px;
            margin: 0 auto;
            padding-left: 21px;

            font-size: 14px;
            font-weight: bold;
            line-height: 10px;

            color: white;
            background: linear-gradient(0deg, #dd3755 0%, #f4627b 100%);
        }
        &__header p {
            display: inline-block;
        }
        &__item .girl-box {
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__rank-girl-box {
        width: 139px;
        height: 237px;
        &__image {
            width: 118px;
            height: 172px;
        }
    }
}

.aside-join-us {
    position: absolute;
    bottom: 669px;
    left: 0;

    width: 218px;
    height: 220px;
    margin-top: 5px;
    padding-top: 10px;
    &__textbox {
        position: absolute;
        top: 15px;
        right: 3px;

        width: 121px;
        height: 84px;

        border: 1px solid #dedede;
        &--join-us {
            margin-top: 8px;
            padding: 2px 0 7px 15px;

            font-size: $font-size-second;
            font-weight: bold;

            color: $color_brown;
            border-bottom: 1px solid #dedede;
        }
        &--add-advert {
            margin-top: -7px;
            padding: 0 16px 0 16px;

            font-size: $font-size-second;
            line-height: 13px;

            color: $color_pink;
        }
    }
}
.aside-nav-background {
    width: 180px;
    height: 415px;
    margin-top: 9px;
    margin-left: 30px;

    background-color: white;
}

.province-menu {
    position: relative;
    z-index: 2;

    width: 160px;
    width: 160px;
    height: 31px;
    height: 30px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    background: #2f2d2d;
    &__tittle {
        bottom: 0;

        height: 31px;
        margin: auto;
        padding-top: 7px;
        padding-left: 20px;

        font-size: $font-size-nav;

        color: #fff;
    }
    &__item {
        list-style-type: none;
    }
    &__item a {
        display: block;

        width: 160px;
        height: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;

        list-style-type: none;

        border: 1px solid #dedede;
        background: white;
    }
    &__item a:hover {
        font-weight: bold;

        text-decoration: none;

        background: linear-gradient(90deg, rgb(255, 244, 253) 90%, rgb(255, 221, 238) 100%);
    }
}
.slider_boxes {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.slider-highlighter {
    z-index: 2;

    display: flex;
    flex-direction: row;

    margin-top: -1px;
    margin-bottom: -10px;
    padding-right: 25px;
    padding-left: 25px;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: $sliders_size;
    &__wrapper {
        width: 739px;
    }
}
.slider_girls {
    margin: 0;
    padding: 0;

    list-style-type: none;

    flex-basis: $sliders_size;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direct: row;
}
.recent-advert {
    position: relative;
    z-index: 2;

    display: flex;

    list-style-type: none;

    flex-wrap: wrap;
    flex-basis: $sliders_size;
}
.main {
    &__tittle {
        right: 0;
        left: 0;

        display: block;

        margin: auto;

        font-size: 20px;

        color: $color_pink;
    }
    &__tittle:before {
        position: absolute;
        top: 13px;
        left: 39px;

        display: block;

        width: 720px;
        height: 5px;

        content: '';

        background: url('/src/img/belka_tittle.png');
    }
    &__tittle:after {
        content: '';
    }
}
.recent-advert-slider {
    padding: 2px 25px 0 25px;

    list-style-type: none;

    flex-wrap: wrap;
    justify-content: space-around;
}
.last_comment_slider {
    flex-basis: $sliders_size;
}

.slider-action-button {
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;

    margin: auto;
    margin-top: 8px;
    padding-top: 0;

    align-items: center;
    &--next {
        position: relative;

        width: 43px;
        height: 17px;

        border: 1px solid #dedede;
        border-top-right-radius: 400px;
        border-bottom-right-radius: 400px;
        background: linear-gradient(0deg, rgb(251, 234, 239) 0%, rgb(255, 255, 255) 100%);
    }
    &--next::after {
        position: absolute;
        z-index: 2;
        top: 5px;

        display: block;

        width: 10px;
        height: 12px;
        margin-left: 15px;

        content: '';

        background: url('../img/slider-button-next.png') 0 0 no-repeat;
    }
    &--center {
        width: 78px;
        height: 27px;

        background: url('../img/slider-button-center.png') center no-repeat;

    }

    &--back {
        position: relative;

        width: 43px;
        height: 17px;

        border: 1px solid #dedede;
        border-top-left-radius: 400px;
        border-bottom-left-radius: 400px;
        background: linear-gradient(0deg, rgb(251, 234, 239) 0%, rgb(255, 255, 255) 100%);
    }
    &--back::after {
        position: absolute;
        z-index: 2;
        top: 5px;

        display: block;

        width: 10px;
        height: 12px;
        margin-left: 15px;

        content: '';

        background: url('../img/slider-button-back.png') 0 0 no-repeat;
    }
}
.last-comment {
    position: relative;

    display: flex;

    width: 789px;
    padding-top: 24px;

    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    &__tittle::before {
        top: 40px;
        left: 34px;
    }
}

.slider-last-comment {
    flex-direction: row;

    padding: 0;
    padding-top: 13px;
    padding-right: 25px;
    padding-left: 25px;

    list-style-type: none;

    flex-basis: 790px;
    justify-content: space-around;
    &__box {
        display: flex;

        width: 236px;
        height: 185px;

        border: 1px solid #dedede;
    }
}

.main-footer {
    margin: 0;
    padding-right: 0;
    padding-left: 0;

    text-align: center;

    border-top: 1px solid #dedede;
    border-top: 1px solid #dedede;
    &__menu {
        display: flex;

        height: 88px;
        padding: 25px;

        list-style-type: none;

        justify-content: space-around;
        &__item {
            &--signin {
                position: relative;

                margin-left: 15px;

                line-height: 18px;

                text-align: right;
                letter-spacing: .3px;

                color: $color_brown;
            }
            &--signin span {
                font-size: 16px;
                font-weight: bold;

                color: $color_pink;
            }
            &--signin img {
                position: absolute;
                top: -5px;
                right: -75px;
            }
            &--login {
                position: relative;

                margin: 0 auto;

                line-height: 15px;
            }
            &--login p {
                font-weight: bold;

                color: $color_brown;
            }
            &--login span {
                font-size: 16px;

                color: $color_pink;
            }
            &--login::before {
                position: absolute;
                top: 38%;
                left: -62px;

                display: block;

                width: 50px;
                height: 5px;

                content: '';

                background: url('../img/main-footer-belka.png');
            }
            &--login::after {
                position: absolute;
                top: 38%;
                right: -65px;

                display: block;

                width: 50px;
                height: 5px;

                content: '';

                background: url('../img/main-footer-belka.png');
            }
            &--add-advert {
                position: relative;

                margin-right: 78px;

                line-height: 18px;

                text-align: left;
                letter-spacing: .3px;

                color: $color_brown;
            }
            &--add-advert span {
                font-size: 16px;
                font-weight: bold;

                color: $color_pink;
            }
            &--add-advert img {
                position: absolute;
                top: -5px;
                left: -73px;
            }
        }
    }
    &__menu p {
        margin: 0;

        font-size: $font-size-second;
    }
}

.footer-menu {
    display: flex;

    padding: 0;

    list-style-type: none;

    content: '';

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background: linear-gradient(0deg, rgb(50, 5, 18) 0%, rgb(100, 23, 46) 100%);
    &__item {
        &--header {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            background: linear-gradient(0deg, rgb(78, 11, 31) 0%, rgb(115, 30, 55) 100%);
        }
        &--header a {
            display: block;

            padding-top: 6px;
            padding-right: 15px;
            padding-bottom: 6px;
            padding-left: 22px;

            text-decoration: none;

            color: white;
        }
    }
    &__item a {
        display: block;

        padding-top: 6px;
        padding-right: 15px;
        padding-bottom: 6px;
        padding-left: 15px;

        color: #fff;
    }
    &__item a:hover {
        text-decoration: none;

        background: linear-gradient(0deg, rgb(78, 11, 31) 0%, rgb(115, 30, 55) 100%);
    }
    &__item a:nth-child(7):hover {
        text-decoration: none;

        background: linear-gradient(0deg, rgb(78, 11, 31) 0%, rgb(115, 30, 55) 100%);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

    }
}


.footer {
    position: relative;

    height: 194px;

    background: url('../img/footer-img.png') 250px -168px no-repeat;
}

.footer-wrapper {
    position: absolute;
    top: 0;
    right: 30px;

    display: block;

    width: 30px;
    height: 57px;

    background: url('../img/wrapper-button.png');
}
.footer-menu-1 {
    width: 662px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 31px;
}
.footer-menu-2 {
    width: 306px;
    margin-right: 28px;
}
.footer-menu-3 {
    width: 263px;
}
.footer-bottom-menus {
    display: flex;

    margin-top: -1px;
    margin-right: 20px;
    margin-left: 31px;

    flex-basis: 1000px;
    flex-wrap: no-wrap;
}

.author-information {
    display: flex;

    padding: 7px 30px 0 30px;

    justify-content: space-between;
    flex-basis: 1000px;
}
.slider-highlighter .bx-wrapper {
    margin-top: -17px;
    margin-bottom: 0;
    padding-left: 4px;

    border: none;
    background: none;
    box-shadow: none;
}
.slider-highlighter .bx-viewport {
    height: 245px;
}
.slider-highlighter .bx-pager-item {
    visibility: hidden;
}
.slider-highlighter .bx-prev {
    visibility: hidden;
}
.slider-highlighter .bx-next {
    visibility: hidden;
}
.recent-advert .bx-pager-item {
    visibility: hidden;
}
.recent-advert .bx-wrapper {
    height: 195px;
    margin: 0 auto;
    margin-bottom: 0;

    border: none;
    background: none;
    box-shadow: none;
}
.recent-advert .bx-viewport {
    width: 739px!important;
    height: auto!important;
}
.recent-advert .slider-action-button {
    margin-top: 42px;
}
.recent-advert .bx-prev {
    visibility: hidden;
}
.recent-advert .bx-next {
    visibility: hidden;
}

.last-comment .slider-action-button {
    margin-top: 43px;
}
.last-comment .bx-wrapper {
    height: 195px;
    margin: 0 auto;
    margin-bottom: 0;

    border: none;
    background: none;
    box-shadow: none;
}
.last-comment .bx-viewport {
    width: 739px!important;
    height: auto!important;
}
.last-comment .bx-pager-item {
    visibility: hidden;
}
.last-comment .bx-next {
    visibility: hidden;
}
.last-comment .bx-prev {
    visibility: hidden;
}
.pie{
    top:-18px;
    left:8px;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: #e01a3c;
    border: 2px solid #dedede;
    float: left;
    margin: 2em;
  .block{
    position:absolute;
    background:#fff;
    display:block;
    border-radius:50%;
    top:10px;
    left:10px;
  }

}
#time{
  font-size:3em;
  position:absolute;
  top:35%;
  left:43%;
  color:lighten(#000,60%);
  visibility: hidden;
}
.degree{
  /*90 + ( 360 * .1 )*/
      background-image:
        linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}
