body{
	font-family: 'Playfair Display', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.links{
	height: 50px;
	background-color: #f3f3f3;
	float: left;
	width: 100%;

}
.inner{
	width: 1065px;
	margin: 0 auto;
	text-align: center;
	position: relative;


}
.inner:before{
	display: block;
	content: '';
	clear: both;
}
.phone-content{
	width: 417px;
	font-size: 12px;
	float: left;
	background: url('../img/phone.png') 58px 17px no-repeat;

}
.phone-content:before{
	display: block;
	content: '';
	clear: both;
}
.phone-content a{
	text-decoration: none;
	color: #169bd7;
}
.phone-content p{
	margin-left: 12px;
	margin-top: 16px;
}
.login-content{
	width: 413px;
	font-size: 12px;
	float: left;
	background: url('../img/key-top.png') 95px 18px no-repeat;

}
.login-content:before{
	display: block;
	content: '';
	clear: both;
}
.login-content p{
	margin-left:102px;
	margin-top: 16px;
}
.login-content a{
	margin-left:2px;
}
.socialmedia-content{
	width: 142px;
	float: left;
}
.socialmedia-content::before{
	display: block;
	content: '';
	clear: both;
}
.language-content{
	width: 80px;
	float: left;

}
.language-content ul{
	list-style-type: none;
}
.language-content li{
	display: block;
	width:50px;
	height:50px;
}
.usa-flag a{
	background: url('../img/country-flag.png') no-repeat;
	display: block;
	width: 35px;
	height: 12px;
	margin-left: -25px;
	margin-top: 18px;

}

.language-content:before{
	display: block;
	content: '';
	clear: both;
}
.head{
	height:90px;
	background-color: #ffffff;
	float:left;
	width:100%;
}
.head-content:before{
	display: block;
	content: '';
	clear: both;
}
.logo{
	text-indent: -99999px;
	width: 327px;
	float: left;
	background-image: url(../img/logo_header.png);

}

.main-menu{
	float: left;
	margin-top:16px;
	margin-left: 78px;
	letter-spacing: 0.1px;

}
.main-menu a{
	text-decoration: none;
	color: black ;
}
.main-menu ul>li{
	display: inline;
	font-size: 14px;
	padding-left: 27px;
	padding-right: 28px;
	
}
.main-menu ul{
	padding: 0px;
}
.main-menu li+li{
	background: url('../img/nav-element.png') left no-repeat;
}
.btn-login{
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	background-color: blue;
	color: #ffffff;
	padding: 11px 18px 10px 18px;
	border-top: 1px solid none;
	border-right: 1px solid none;
	border-bottom: 1px solid none;
	border-left: 1px solid none;
	border-radius: 20%;
	margin-left:10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.facebook{
	display: block;
	width:34px;
	height:34px;
	float: left;
	margin: 7px 8px 9px 16px;
	border-radius: 20%;
	background: #3e64b2 url(../img/facebook.png) center no-repeat;

}
.twitter{
	display: block;
	/*background-color: #17b3e9iii;*/
	width:34px;
	height:34px;
	float: left;
	margin: 7px 8px 8px 0;
	border-radius: 20%;
	background: #17b3e9 url(../img/twitter.png) center no-repeat;
}
.googleplus{
	display: block;
	width:34px;
	height:34px;
	float: left;
	margin:7px 8px 8px -2px;
	border-radius: 20%;
	background: #d62b22 url(../img/googleplus.png) center no-repeat;
}
.sec-hero{
	background: url('../img/hero_image.png') no-repeat center;
	min-height: 892px;
	background-position: 80% 36%;
	position: relative;
	float: left;
	width:100%;

}
.sec-hero:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .3);

}
.next-arrow-hero{
	position: absolute;
	right: 60px;
	top: 307px;
}
.back-arrow-hero{
	position: absolute;
	left: 0px;
	top: 307px
}
.slider{
	color: white;
	float: left;
	width:100%;
	margin: 300px auto 0 auto;
}
.slider h1{
	font-size: 70px;
	margin-top: -1px;
	margin-bottom: 0px;
	margin-left: -56px;
}
.slider p{
	font-size: 25px;
	margin-top: 3px;
	margin-left: -62px;
	line-height: 30px;
}

.btn-charity{
	font-size: bold 12px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	background-color: blue;
	color: #ffffff;
	padding: 10px 15px 10px 15px;
	border-top: 1px none;
	border-right: 1px none;
	border-bottom: 1px none;
	border-left: 1px none;
	border-radius: 8%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+21,2989d8+50,7db9e8+91 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 21%, #2989d8 50%, #7db9e8 91%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#1e5799), color-stop(50%,#2989d8), color-stop(91%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 21%,#2989d8 50%,#7db9e8 91%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 21%,#2989d8 50%,#7db9e8 91%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 21%,#2989d8 50%,#7db9e8 91%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 21%,#2989d8 50%,#7db9e8 91%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.slider .btn-charity{
	margin-left: -167px;
	margin-top: 31px;
	position: absolute;
	padding: 14px 24px 14px 24px;
	
}

.news-box {
	margin-top: 161px;
	margin-bottom: 32px;
	margin-left: -29px;
	margin-right: 0px;
	padding: 0;
	text-decoration: none;
	float:left;
}
.news{
	display: inline-block;
	width: 417px;
	height: 200px;
	float:left;
	margin-right: 15px;
	margin-top: 10px;
}
.recent-news{
	display: inline-block;
	width: 200px;
	height: 200px;
	background: blue;
	float: left;
}
.recent-news:before{
	display: block;
	content: '';
	clear: both;
}
.news-box:before{
	display: block;
	content: '';
	clear: both;
}
.img-new{
	background: white;
	float: left;
	height:100%;
}
.img-new:before{
	display: block;
	content: '';
	clear: both;
}
.text-new{
	background: #ffffff;
	float:left;
	width:215px;
	height:100%;
	font-size: 13px;

}
.text-new p{
	padding:30px;
	margin-left: -2px;
	margin-top: -4px;
	text-align: left;
	line-height: 19px;
}
.img-text:before{
	display: block;
	content: '';
	clear: both;
}
.sec-donation{
	float: left;
	width: 100%;
	display: block;
	
}
.sec-donation:before{
	display: block;
	content: '';
	clear: both;
}
.sec-donation span{
	color:#169bd7;
}
.inner-donation{
	margin: 0 auto;
}
.inner-donation:before{
	display: block;
	content: '';
	clear: both;
}
.sec-volunteer{
	margin-top:20px;
	position: relative;

}
.sec-volunteer:before{
	display: block;
	content: '';
	clear: both;
}
.sec-volunteer .btn-charity{
	position: absolute;
	left: 852px;
	top: 245px;
	padding: 14px 15px 14px 15px;
}

.help:before{
	display: block;
	content: '';
	clear: both;
}
.img-new-1{
	background-image: url('../img/news_box1.png');
	background-position: 35% 55%;
	position: relative;
	width: 200px;
	height: 100%;
	float: left;
	color: white;


}
.img-new-1:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: rgba(22, 155, 215, .7);
}
.img-new-1 h2 {
	display: block;
	float:left;
	position:relative;
}
.img-new-1 h4 {
	position: relative;
	margin-left: -42px;
	margin-top: 14px;
	font-size:18px;
}
.img-new-1 p {
	position: relative;
	margin-left: 30px;
	margin-top: -11px;
	font-size: 19px;
	text-align: left;
}
.img-new-2{
	background-image: url('../img/news_box2.png');
	background-position: 55% 80%;
	width:200px;
	height: 100%;
	float: left;
	color: white;
	position: relative;
}
.img-new-2:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: rgba(22, 155, 215, .5);
}
.img-new-2 h2 {
	position: relative;
	margin-left: -45px;
	margin-top: 13px;
}
.img-new-2 p {
	text-align: left;
	position: relative;
	margin-left: 29px;
	margin-top: -6px;
	font-size: 19px;
}
.h-img-new-number{
	font-size: 42px;
	
}
.h-img-new-other{
	position: relative;
	top: -20px;
	left: 10px;
	font-size: 14px;
	
}
.recent-news {
	background: rgb(22, 155, 215);
	margin-top: 10px;

}
.recent-news h1{
	padding-right: 113px;
	padding-left:30px;
	color: white;
	font-size: 20px;
	margin-top: 22px;
	margin-left: -2px;
	text-align: left;
	line-height: 25px;
}
.btn-next{
	background: url('../img/btn-next.png');
	width: 9px;
	height: 12px;
	position: absolute;
	margin-left: -71px;
	margin-top: 48px;
}
.donation-header{
	float:left;
	width:100%;
	margin-top: 23px;
	margin-bottom: 35px;
	margin-left:-32px;
	background: url(../img/belka.png) 0px 140px no-repeat;


}
.donation-header h1{
	font-size: 30px;
	color: #253b80;
	margin-bottom: 40px;
}
.donation-header h1 strong{
	color: #169bd7;


}
.donation-header-img{
	width:100%;
	height:40px;
	margin: 0 auto;
	background: url(../img/family-image.png) no-repeat center;
}
.donation-box{
	float: left;
	width: 335px;
	height: 560px;
	margin-left: -32px;
	margin-top: -20px;
	padding:0;
}


.donation-box figure{
	margin-left: 0;
	margin-top: 32px;
}
.donation-box p{
	margin-top: 25px;
	letter-spacing: 0px;

}
.donation-box h3{
	margin-left: 5px;
	margin-top: 20px;
	letter-spacing: 0.5px;

}
.donation-box .btn-charity{
	padding:5px 7px 5px 7px;
	margin-top:24px;

}
.donation-box-text{
	margin-top: 21px;
	margin-left: 1px;
	font-size: 13px;
}
.donation-footer{
	float:left;
	width: 100%;
}
.donation-center-box{
	float: left;
	width: 335px;
	height: 560px;
	margin-left:30px;
	margin-right:30px;
}

.donation-center-box figure{
	margin-left: 0px;
	margin-top: 34px;
}

.donation-center-box h3{
	margin-top: 0px;
	margin-left: 17px;
	letter-spacing: 0.5px;
	padding-right: 12px;
}
.donation-center-box p.donation-box-text-center{
	margin-top: 24px;
	margin-left: 6px;
	font-size: 13px;
}
.donation-center-box p{
	margin-top: 26px;
	letter-spacing: 0px;
	font-size: 16px;
	margin-left: 1px;
}
.donation-center-box .btn-charity{
	margin-top: 26px;
	padding: 5px 7px 5px 7px;
}
.donation-box-right{
	float: left;
	width: 335px;
	height: 560px;
	margin-left: -32px;
	margin-top: -20px;
	padding:0;

}
.donation-box-right .btn-charity{
	margin-left: 65px;
	margin-top: 27px;
	padding: 5px 7px 5px 7px;

}
.donation-box-right p.donation-box-text-right{
	margin-left: 62px;
	margin-top: 20px;
	font-size: 13px;
}
.donation-box-right p{
	margin-left: 48px;
	margin-top: 25px;
}
.donation-box-right h3{
	margin-left: 65px;
	margin-top: 20px;
	letter-spacing: 0.5px;
}
.donation-box-right figure{
	margin-top: 35px;
	margin-left: 33px;
}

.donation-box-text-right{
	margin-top:23px;
	margin-left: 62px;
	font-size: 13px;
}

.progres-36{
	background: url('../img/36-percent.png') no-repeat center;
	width:100px;
	height: 100px;
	display: block;
	position:relative;
	width:100%;
	margin-left: 38px;
	margin-top: -79px;

}
.progres-41{
	background: url('../img/41-percent.png') no-repeat center;
	width:100px;
	height: 100px;
	display: block;
	position:relative;
	width:100%;
	margin-left: 21px;
	margin-top: -82px

}
.progres-79{
	background: url('../img/79-percent.png') no-repeat center;
	width:100px;
	height: 100px;
	display: block;
	position:relative;
	width:100%;
	margin-left: 18px;
	margin-top: -79px;

}
.donation-footer{
	background: url('../img/foot-donation-footer.png') no-repeat top;
	margin-top: -37px;
	margin-left:-33px;

}
.donation-footer p{
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 36px;
}
.donation-footer-link{
	color: #50b4e1;
	background: url('../img/donation-footer-a.png') no-repeat right;
}
.next{
	float: right;
	width: 140px;
	height: 27px;
	padding: 3px;
	margin-top:30px;
	margin-right:30px;
	border: 1px solid;
	border-radius: 10%;
	border-color:#adadad;
	background: url('../img/next-arrow.png') no-repeat 91%;

}
.back{
	float: right;
	width: 140px;
	height: 27px;
	padding: 3px;
	margin-right: 15px;
	margin-top:30px;
	border: 1px solid;
	border-radius: 10%;
	border-color:#adadad;
	background: url('../img/back-arrow.png') no-repeat 7%;



}
.sec-volunteer{
	float: left;
	width: 100%;
	height: 383px;
	margin-top: 20px;
	background: url('../img/sec-volunteer-background.png') no-repeat center;

}
.sec-volunteer:before{
	display: block;
	content: '';
	clear: both;

}
.inner-volunteer{
	background: url('../img/sec-volunteer-recentagle.png') no-repeat 50% 0%;
	width:100%;
	color: white;
	padding-top: 45px;
	text-align: center;
	
}
.inner-volunteer p{
	font-size: 15px;
	margin-top:-19px;

}
.inner-volunteer h2{
	font-size: 40px;
}
.sec-help{
	width:100%;
	float: left;
	margin-top: 30px;
	margin-bottom: -40px;
}
.sec-hel:before{
	display: block;
	content: '';
	clear: both;
	
}
.help-header {
	font-size: 30px;
	margin-top: -9px;
	margin-left: 15px;
	

}
.help-header p {
	color: #253b80;
	margin-top: 22px;
	display: block;


}
.help-header p>span{
	color: #169bd7;

}
.help-header-img{
	background: url('../img/help-hand.png') no-repeat top;
	width: 100%;
	height: 40px;
	margin-top:9px;
}
.help-boxes{
	position:relative;
}
.help-box{
	float: left;
	width: 355px;


}
.help-box p{
	font-size:13px;
	padding: 22px;
	font-weight:bold;
	margin-top:88px;


}
.media-image{
	position: absolute;
	left: 140px;
	top: 68px;

}
.volunteer-image{
	position: absolute;
	left: 500px;
	top: 67px;
}
.send-image{
	position: absolute;
	right: 120px;
	top: 68px;

}
.help-choose-options{
	width:100%;
	float:left;
	margin-top:4px;

}
.help-choose-options:before{
	display: block;
	content: '';
	clear: both;
	
}
.help-choose-options ul{
	padding: 0px;
	list-style-type: none;
	margin-top: 0px;

}
.help-choose-options ul>li{
	display:inline-block;

}
.first-choose-option{
	color: #253b80;
	font-size: 20px;
	height:136px;
	display: block;
	line-height:136px;
	margin-right: 46px;
	margin-top: 0px;
	

}

.second-choose-option{
	background: url('../img/watch-film-images.png') no-repeat center;
	
	width:199px;
	height:136px;
	display: block;
	line-height:136px;
	margin-left: 0px;
	margin-right: 0px;
	
}
.second-choose-option .btn-charity{
	position: relative;
	top: 60px;
	padding: 7px 5px 7px 5px;
	margin-left: -9px;

}

.third-choose-option{
	color: #169bd7;
	font-size: 20px;
	height:136px;
	display: block;
	line-height: 136px;
	margin-left: 36px;
	
}
.sec-read-more{
	float:left;
	width: 100%;
	height:650px;
	background: url('../img/sec-read-more-background.png') no-repeat top;
	margin-top: 130px;

}
.sec-read-more h1{
	margin-top: 1px;
	margin-left: 5px;
	letter-spacing: 2.0px;
	font-size: 2.2em;
	padding-bottom: 13px;

}
.sec-read-more:before{
	display: block;
	content: '';
	clear: both;
	
}
.sec-read-more-header{
	background: url('../img/read-more-logo.png') no-repeat 42px 12px;
	width: 415px;
	height: 233px;
	margin-top: -60px;
	margin-left: auto;
	margin-right: auto;
	
}

.inner-read-more{
	width: 1065px;
	margin: 0 auto;
	padding-bottom:150px;
	text-align: center;
	position: relative;
	color: white;


}
.inner-read-more ul{
	list-style-type: none;
	padding: 0;
	margin-top: -12px;
}
.inner-read-more ul>li{
	display:inline-block;
	width:33%;
	font-size: 12px;


}
.more-lines-1974{
	font-size: 30px;
	position: relative;
}
.more-lines-1974:before{
	content:'';
	width: 101px;
	height: 1px;
	background: white;
	display: block;
	position: absolute;
	top:25px;
	left:-140px;
}
.more-lines-1974:after{
	content:'';
	width: 101px;
	height: 1px;
	background: white;
	display: block;
	position: absolute;
	top:25px;
	right:-120px;
	
}
.more-lines-1974 span{
	font-size:35px;
}
.more-lines-98352{
	font-size: 30px;
	position: relative;
}
.more-lines-98352:before{
	content:'';
	width: 95px;
	height: 1px;
	background: white;
	display: block;
	position: absolute;
	top:25px;
	left:-129px;
	
}
.more-lines-98352:after{
	content:'';
	width: 95px;
	height: 1px;
	background: white;
	display: block;
	position: absolute;
	top: 25px;
	right:-129px;
	
}
.more-lines-98352 span{
	font-size:35px;
}
.more-lines-5901023{
	font-size: 30px;
	position: relative;
}
.more-lines-5901023:before{
	content:'';
	width: 65px;
	height: 1px;
	background: white;
	display: block;
	position: absolute;
	top:25px;
	left:-90px;

}

.more-lines-5901023:after{
	content:'';
	width: 65px;
	height: 1px;
	background: white;
	display: block;
	position: absolute;
	top: 25px;
	right:-108px;


}
.more-lines-5901023 span{
	font-size:35px;
}
.read-more-text{
	padding-top: 3px;
	line-height: 30px;
	font-size: 20px;

}
.read-more-information-text{
	display: block;
	margin-bottom: 50px;
}
.sec-contact{
	width:100%;
	margin-top:45px;
	margin-left: 16px;
	float:left;
	border-bottom: 1px;
	border-left: 0px;
	border-top: 0px;
	border-right:0px;
	border-color: #dedede;
	border-style: solid;
}
.sec-read-more .btn-charity{
	top: 332px;
	left: 433px;
	position: absolute;
	padding: 13px 18px 13px 18px;

}
.read-more-lines {
	line-height:45px;
}
.read-more-footer{
	background: #f3f3f3;
	width:100%;
	float: left;
	position:relative;
	margin-top:-5px;

}
.read-more-footer .btn-charity{
	padding: 10px 10px 10px 10px;
	font-size: 12px;

}
.read-more-footer p{
	font-size: 12px;
	margin-top:-20px;

}
.read-more-footer h3{
	display: inline-block;
	color: #253b80;

}
.read-more-footer span{
	color:#169bd7;
}
.join-us-box{
	display:inline-block;
	height:153px;
	overflow: hidden;
	width:500px;
	margin-right: 30px;
	margin-left:-60px;
	margin-top:10px;
	padding-top:5px;
	letter-spacing: 0.9px;

	text-align: right;
	position: relative;

	
}
.join-us-box p{
	font-size: 12px;
	margin-top: -12px;
	padding-bottom: 20px;
}
.join-us-box img{
	position: absolute;
	margin-right: 190px;
	left:30px;
	top:30px;

}
.join-us-box .btn-charity{
	padding: 10px 8px 10px 10px;

}

.newsletter-box{
	display:inline-block;
	height:153px;
	width:500px;
	margin-left: 30px;
	overflow: hidden;
	text-align: left;
	letter-spacing: 0.9px;

}
.newsletter-box img{
	position: absolute;
	margin-left: 190px;
	right: 60px;
	top: 40px;


}
.newsletter-box p{
	letter-spacing: 0.4px;
	margin-top:-10px;
	padding-bottom: 15px;
}
.newsletter-box input{
	width: 390px;
	margin-right: 10px;
	height: 27px;

}
.newsletter-box .btn-charity{
	padding: 11px 14px 7px 14px;

}
.contact-slider{
	width: 633px;
	float:left;
	margin-left: 200px;
}

.contact-slider p{
	color:#253b80;
	font-weight: bold;
	
}
.contact-slider-next{
	background: url('../img/content-slider-nextarrow.png') no-repeat center;
	display: inline-block;
	float: left;
	height:20px;
	width:200px;
	position:absolute;
	right: -10px;
	top: 75px;

}
.contact-slider-back{
	background: url('../img/content-slider-backarrow.png') no-repeat center;
	display: inline-block;
	float: left;
	height:20px;
	width:200px;
	position: absolute;
	left: -113px;
	top: 75px;
	
}
.inner-contact-slider{
	margin: 0 auto;
	width:1067px;
	position: relative;
}
.madura-span{
	color: black;
}
.madura-span-other{
	color: #169bd7;
	
}
.madura-other{
	margin-top: 25px;
	letter-spacing: 1.3px;
	font-style: italic;
	margin-left: -56px;
	line-height: 26px;
}
.madura-face{
	margin-left:20px;
	margin-right:20px;
}

.sec-contact-footer{
	width:100%;
	float: left;
	font-size:13px;
	margin-top: 33px;
	padding-top: 23px;
	padding-bottom: 2px;
	border-top: 1px solid  #dedede;


}
.sec-contact-footer li{
	list-style-type: none;


}
.contact-footer-box{
	display: inline-block;
	float:left;
	text-align:left;
	padding-left:30px;
	padding-right:22px;
	margin-right:15px;
	letter-spacing: 0.6px;
	position: relative;
	
}

.contact-footer-box h3{
	color:#253b80;
	padding-bottom:3px;

}
.contact-footer-box p{
	line-height:25px;
}
.contact-footer-box ul{

}
.connect-header{
	margin-left: -13px;
}
.connect-other{
	margin-left: -15px;
	letter-spacing: 0.1px;
}
.contact-footer-box .facebook{
	margin-left: -12px;
	margin-right: 20px;
	margin-top: 0px;
}
.contact-footer-box .twitter{
	margin-left: -12px;
	margin-top: 0px;
	margin-right: 20px;
}
.contact-footer-box .googleplus{
	margin-left: -12px;
	margin-top: 0px;
	margin-right: 5px;
}


.contact-footer-box-questions{
	display: inline-block;
	position: relative;
	margin-right:15px;
	width: 357px;
	float: left;
	text-align: left;
	padding-left:30px;
	padding-right:30px;
	margin-right:15px;
	
}
.contact-footer-box-questions a{
	text-decoration: none;
	font-weight: bold;
	color: #169bd7;
}
.contact-footer-box-questions li{
	display: inline-block;
}
.contact-footer-box-questions .usa-flag{
	float:left;
	display: inline-block;
	position: absolute;
}
.contact-footer-box-questions h3{
	display: inline-block;
	float:left;
	width: 85%;
	color: #169bd7;
}
.contact-footer-box-questions img{
	display: block;
	float:left;
	margin-right: 30px;
	position: absolute;
	top: 62px;
	left: 16px;
}
.contact-footer-box-questions ul{
	position: absolute;
	right: 21px;
	top: -10px;
}
.telephone-number{
	font-size: 30px;
	color: #253b80;
	margin: 0px;
	float:left;
	width:70%;
	line-height:20px;
	margin-bottom:20px;
	position: absolute;
	top: 60px;
	letter-spacing: 1.5px;
	right: 33px;

}
.telephone-number span{
	color: #169bd7;
}
.hours-info{
	position: absolute;
	top: 95px;
	left: 93px;
	letter-spacing: 0.4px;
}
.mail-info{
	position: absolute;
	top: 120px;
	left: 93px;
}
.site-links a{
	text-decoration: none;

}

.site-links li{
	padding-bottom:7px;
	
}
.site-links {
	padding:0px;
	padding-left: 24px;
	padding-top: 4px;
	line-height: 20px;
}
.left-links{
	float:left;
	display: inline-block;
	margin-right:10px;
}
.right-links{
	float:left;
	display: inline-block;
}
.sitemap-header{		
	margin-left: 24px;
}
.tittle-flag{
	width:100%;
	float:left;
}
.tittle-flag h3{
	margin-left: -13px;
	letter-spacing: 0.6px;
}
footer{
	width:100%;
	float: left;
	text-align: center;
	font-size: 12px;
	margin-top: 18px;
	letter-spacing: 0.5px;

}
footer:before{
	display: block;
	content: '';
	clear: both;
}

.links, 
.head,
.sec-hero,
.sec-donation,
.sec-volunteer,
.sec-help,
.sec-read-more,
.sec-more-footer,
.sec-contact,
 footer {
	overflow: hidden;
}